body {
    background-color: gray;
}

footer {
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > * {
    margin-inline: 1%;
}


.flexRow {
    display: flex;
    flex: auto;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.centerText {
    text-align: center;
}

.scoreSection p {
    text-align: center;
}

.userButtonSel {
    justify-content: center;
    align-items: center;
}

.userButtonSel button {
    margin-inline: 2vw;
}

.gameMessage {
    align-items: center;
}

.gameMessage p {
    margin: 0;
    margin-block: 1%;
}

